* {
   
    margin: 0px;  
    /* padding: 0px;  */
  }

header{
  max-width: 1440px;
  height: 715px;

}

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 137px 0px 135px;

  }
nav div{
  display: flex;
}
nav ul{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
gap: 57px;
}

nav ul li{
  list-style: none;
}

nav li a {
text-decoration: none;
color: #3C3C3C;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}
nav img {
  width: 55.936px;
height: 39.266px;
flex-shrink: 0;
margin-right: 10px;
}


nav h3{
  color: #A4BC46;
font-family: Montserrat;
font-size: 25.426px;
font-style: normal;
font-weight: 700;
line-height: normal;
}








  